### Importación de librerías necesarias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Lectura y procesamiento de datos del dataset

In [2]:
df_data = pd.read_csv("gdm_first_trimester_ml_dataset.csv")
df_data.head(5)

,age_years,bmi_prepreg_kg_m2,systolic_bp_mmHg,diastolic_bp_mmHg,map_mmHg,gestational_weeks,fpg_mmol_l,hba1c_percent,insulin_uIU_ml,homa_ir,triglycerides_mmol_l,hdl_mmol_l,parity,family_history_t2d,previous_gdm,pcos,smoking_first_trimester,physical_activity_level,diet_score_0_100,label_gdm
0,26.8,26.9,119.0,57.0,77.7,8.7,4.10,5.33,7.8,1.42,1.37,1.36,0,0,1,0,1,2.0,62.0,0
1,22.6,27.3,NaN,69.0,80.8,9.0,3.53,5.73,7.2,1.12,1.13,1.60,0,1,0,1,0,1.0,42.0,0
2,29.9,33.1,103.0,84.0,89.9,10.3,4.45,NaN,4.3,0.86,1.27,1.16,0,1,0,0,0,1.0,72.0,0
3,26.3,23.6,112.0,69.0,83.3,12.2,4.79,4.69,13.7,2.91,1.22,1.73,0,0,0,0,0,0.0,81.0,0
4,31.9,31.0,117.0,69.0,84.9,8.9,NaN,5.12,9.5,2.23,2.45,1.50,1,0,0,0,0,2.0,53.0,0

In [ ]:
df_data.shape  # La salida se interpreta como que hay 1500 ejemplos, 19 descriptores y 1 columna asociada a la etiqueta.

(1500, 20)

In [ ]:
df_data["label_gdm"].value_counts()  # Los datos tristemente no están equilibrados

label_gdm
0    1239
1     261
Name: count, dtype: int64

In [9]:
df_data.dtypes

age_years                  float64
bmi_prepreg_kg_m2          float64
systolic_bp_mmHg           float64
diastolic_bp_mmHg          float64
map_mmHg                   float64
gestational_weeks          float64
fpg_mmol_l                 float64
hba1c_percent              float64
insulin_uIU_ml             float64
homa_ir                    float64
triglycerides_mmol_l       float64
hdl_mmol_l                 float64
parity                       int64
family_history_t2d           int64
previous_gdm                 int64
pcos                         int64
smoking_first_trimester      int64
physical_activity_level    float64
diet_score_0_100           float64
label_gdm                    int64
dtype: object

In [14]:
df_nulls = df_data.isna().astype(int)
# df_nulls  # Da una matriz con ceros y unos, 1 si el dato es nulo (no válido) y 0 si es no nulo (válido)

null_data = []

for column in df_nulls.columns:
    counts = df_nulls[column].value_counts()

    row = [column, 0, 0]

    if 1 in counts.index:
        row[1] = counts[1]

    if 0 in counts.index:
        row[2] = counts[0]

    null_data.append(row)

df_summary_null = pd.DataFrame(data=null_data, columns=["descriptor", "count_null", "count_no_null"] )
df_summary_null

                 descriptor  count_null  count_no_null
0                 age_years           0           1500
1         bmi_prepreg_kg_m2           0           1500
2          systolic_bp_mmHg          45           1455
3         diastolic_bp_mmHg          36           1464
4                  map_mmHg           0           1500
5         gestational_weeks           0           1500
6                fpg_mmol_l         109           1391
7             hba1c_percent         162           1338
8            insulin_uIU_ml         108           1392
9                   homa_ir           0           1500
10     triglycerides_mmol_l         148           1352
11               hdl_mmol_l          86           1414
12                   parity           0           1500
13       family_history_t2d           0           1500
14             previous_gdm           0           1500
15                     pcos           0           1500
16  smoking_first_trimester           0           1500
17  physical_activity_level          70           1430
18         diet_score_0_100          69           1431
19                label_gdm           0           1500

### Estadística descriptiva (aquí se eliminará lo categórico)